.form1{
    width:600px;
    display:block;
    text-align: 'center';
    align-items: center;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
}
.container{
    
    margin-left:40px;
    margin-right:40px;
    margin-top:60px;




}

.tile-container{
    width:300px;
    text-align:center;
    margin-left:40%;
    // margin-right:40px;
    margin-top:60px;
}